/* === COVER SCREEN === */

.cover .second-cover{
    --animate-delay: 1s;
    --animate-duration: 2s;
}

.cover .second-cover .wedding-text{
    --animate-delay: 2.3s;
    --animate-duration: 2.3s;
}

.cover h1{
    --animate-delay: 2.8s;
    --animate-duration: 2.8s;
}

.cover .kepada{
    --animate-delay: 3.3s;
    --animate-duration: 3.3s;
}

.cover h4 {
    --animate-delay: 3.5s;
    --animate-duration: 3.5s;
}

.cover #btnOpen {
    --animate-delay: 3.8s;
    --animate-duration: 3.8s;
}

/* === INVITATION === */

/* 1. SAVE DATE */

.invitation .save-date .wedding-text {
    --animate-delay: 1.3s;
    --animate-duration: 1.3s;
}

.invitation .save-date img{
    --animate-delay: 1.8s;
    --animate-duration: 1.8s;
}

.invitation .save-date h1{
    --animate-delay: 2.2s; 
    --animate-duration: 2.2s;
}

.invitation .save-date .paragph {
    --animate-delay: 2.8s;
    --animte-duration: 2.8s;
}

.invitation .save-date .date {
    --animate-delay: 3.2s;
    --animte-duration: 3.2s;
}

.invitation .save-date .btn-save-date{
    --animate-delay: 3.6s;
    --animte-duration: 3.6s;
}