body{
    margin: 0;
    background: #e8ddbec8;
    display: flex;
    justify-content: center;
}

/* === CSS CUSTOM === */

.text-center {
    text-align: center;
}

.container {
    padding-right: 7px;
    padding-left: 7px;
}

/* === GOOGLE FONTS === */

.great-vibes {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* === COVER SCREEN === */

.cover {
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    opacity: 1;

    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../img/background1.png");
    transition: transform 3s ease, opacity 5s ease;
}

.cover .second-cover{
    margin-top: 200px;
}

.cover.is-closing {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
}

.cover .second-cover span{
    display: inline-block;
}

.second-cover h1{
    font-size: 35px;
    color: #986A52;
    margin-bottom: 10px;
}

.cover .second-cover .kepada{
    font-size: 12px;
    margin: 0 0 10px 0;
}

.cover .second-cover h4{
    font-weight: 400;
    margin-bottom: 30px;
}

.cover .second-cover #btnOpen {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    border: rgba(255, 255, 255, 0.29);
    background: linear-gradient(135deg, #876953 0%, #96755cda 50%, #b78f70 100%);
    color: white;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

/* === INVITATION === */

.invitation {
    display: none;
}

.invitation {
    width: 100%;
    max-width: 430px;
    min-height: 100vh;

    /* background-image: url("../img/bg-3.jpeg"); */
    background-color: white;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: repeat-y;
}

/* 1. SAVE DATE */

.invitation .save-date {
    background-image: url("../img/bg-3.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    /* Horizontal */
    flex-direction: column;
    align-items: center;
    /* Vertikal */
    height: 100vh;
    padding-left: 7px;
    padding-right: 7px;
}

.invitation .save-date .wedding {
    font-size: 20px;
}

.invitation .save-date img{
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin: 20px 0 0 0;
    border: 3px solid #986A52;
}

.invitation .save-date h1 {
    color: #986A52;
    font-weight: 500;
}

.invitation .save-date .paragph {
    font-size: 13px;
    font-weight: 400;
    color: rgba(18, 18, 18, 0.92);
}

.invitation .save-date .date {
    font-size: 13px;
    font-weight: 600;
    color: rgba(26, 26, 26, 0.608);
    padding: 12px 0 12px 0;
}

.invitation .save-date .btn-save-date{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    border: rgba(255, 255, 255, 0.29);
    background: linear-gradient(135deg, #af886b 0%, #a98467da 50%, #c99d7b 100%);
    color: white;
}

.invitation .save-date .btn-save-date:hover{
    
}

/* 2. Opening Couple */

.invitation .opening-couple .card{
    background: linear-gradient(135deg, #af886b 0%, #a98467da 50%, #c99d7b 100%);
    color: white;
    padding: 30px 0 30px 0;
}

.invitation .opening-couple .card p{
    margin: 0;
    padding: 20px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.767);
}

.invitation .opening-couple .content{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/bg-3.jpeg");
    color: #986A52;
}

.invitation .opening-couple .salam-pembuka{
    font-size: 13px;
    color: rgba(71, 71, 71, 0.88) !important;
    padding: 10px 20px 0 20px;
    line-height: 1.5;
}

.invitation .opening-couple .content img{
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin: 20px 0 20px 0;
    border: 3px solid #986A52;
    box-shadow: 4px 8px 15px 0px rgba(0, 0, 0, 0.401);
}

.invitation .opening-couple .content h1{
    margin: 20px 0 20px 0;
}

.invitation .opening-couple .content span{
    color: rgba(71, 71, 71, 0.88) !important;
    font-size: 13px;
    margin-bottom: 20px;
    display: inline-block;
}

/* 3. Date Locate */

.invitation .date-locate {
    background-color: #af886b;
}

.invitation .date-locate .content{
    padding: 20px 0 0 0;
}

.invitation .date-locate .content h1{
    color: rgba(255, 255, 255, 0.898);
    margin: 0;
    padding: 20px 0 20px 0;
}

.invitation .date-locate .content .time{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.invitation .date-locate .content .time h1{
    font-size: 23px;
    font-weight: normal;
    padding: 0;
}

.invitation .date-locate .content .time p{
    color: white;
    font-size: 11px;
    margin: 0;
}

.invitation .date-locate .content .time .border{
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

.invitation .date-locate .content .akad{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.invitation .date-locate .content .card {
    background-image: url("../img/bg-3.jpeg");
    border-radius: 25px;
    padding-top: 5px;
}

.invitation .date-locate .content .akad .card img {
    width: 340px;
    height: 340px;
    border-radius: 20px;
}

tes{
    color: #bc9c84;
}

.invitation .date-locate .content .akad .card h1{
    color: #986A52;
    padding: 0;
    padding: 20px 0 20px 0;
}

.invitation .date-locate .content .akad .card p {
    margin: 0;
}

/* == MUSIC == */

.music-toggle {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 10000;
    border: 1px solid rgba(255, 255, 255, 0.367);
    border-radius: 999px;
    padding: 6px 8px;
    background: #986A52;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.music-toggle:hover{

}